@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 0.2rem;
}
.btn:hover{
  background: rgb(177, 123, 7);
}

.btn-google {
  background: #4484f2;
  color: #fff;
  font-weight: 500;
}

button {
  margin-top: 0.8rem;
}

.container {
  height: 100vh;
  background: #FAF7F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_custom {
  width: 60vw;
  max-width: 800px;
  background: url(https://c0.wallpaperflare.com/preview/480/35/628/closeup-photo-of-black-sand.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  display: flex;
  color: #fff;
}
.card_custom > * {
  flex-basis: 100%;
  margin: 10px;
}
.card_custom .login-panel {
  border-radius: 0.5rem;
  background: rgba(7, 7, 7, 0.9);
  padding: 1rem 3rem;
}
.card_custom .login-panel .login-with-google {
  margin-top: 3rem;
}
.card_custom .login-panel .login-with-google h4 {
  font-weight: 300;
}
.card_custom .login-panel .login-with-google button {
  margin-top: 1rem;
}
.card_custom .login-panel .divider {
  border-top: 1px solid #fff;
  position: relative;
  margin: 3rem 0;
  z-index: 0;
}
.card_custom .login-panel .divider p {
  position: absolute;
  top: -18px;
  left: 45%;
  z-index: 999;
  background: #070707;
  border-radius: 50%;
  padding: 5px;
}
.card_custom .login-panel .login-with-email {
  display: flex;
  flex-direction: column;
}
.card_custom .login-panel .login-with-email label {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.801);
  margin-bottom: 0.2rem;
}
.card_custom .login-panel .login-with-email input {
  height: 40px;
  border-radius: 0.2rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.801);
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.801);
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.card_custom .login-panel .link-container {
  margin-top: 3rem;
}
.card_custom .login-panel .link-container p {
  font-size: 1rem;
}
.card_custom .login-panel .link-container a {
  color: #4484f2;
  text-decoration: none;
}
.card_custom .text-panel {
  display: flex;
  align-self: flex-end;
}
.card_custom .text-panel .text {
  margin-left: 3rem;
  color: rgba(255, 255, 255, 0.801);
  margin-right: 1rem;
}
.card_custom .text-panel .text h3 {
  font-weight: normal;
  margin-bottom: 1.3rem;
}
.card_custom .text-panel .text p {
  font-size: 0.7rem;
  margin-bottom: 2.5rem;
}