.left_side{
    width: 25%;
}
.right_side{
    width: 75%;
}
@media screen and (max-width: 768px){
    .left_side{
        width: 100%;
    }
    .right_side{
        width: 100%;
    }
    .container_all{
        flex-direction: column;
    }
}